@media (max-width:1366px) {
    .hero{
        background-size: cover, auto 500px;
    }
    .hero h1{
        font-size: 60px;
    }
    .hero-image{
        max-width: 650px;
        width: 100%;
    }
    .title{
        font-size: 50px;
    }
    .about-image{
       left: 0;
    }
    .product .product-tag{
        max-width: 450px;
        width: 100%;
        height: 450px;
    }
    
    .product .product-tag img{
        width: 550px;
    }
    
    .product {
        background-size: 200px, auto, auto, 80px 80px, 40px 40px;
    }
    .footer-image {
        width: 300px;
    }
}

@media (max-width:1156px) {
    .hero{
        padding-bottom: 50px;
    }
    .hero-image {
        max-width: 600px;
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        transform: rotate(-20deg);
        top: 10%;
    }
    .goals h6 {
        font-size: 20px;
        margin: 0 15px;
    }
    .product .product-tag{
        max-width: 400px;
        height: 400px;
    }
    
    .product .product-tag img{
        width: 450px;
    }
    .product .splide p{
        width: 100% !important;
    }
    .splide__pagination {
        bottom: -30px;
        left: 23%;
    }
    .news h6{
        width: 100%;
        font-size: 20px;
    }
    .purchase .title{
        width: 50%;
    }
}

@media (max-width:1024px) {
    .hero-image {
        top: 20%;
        right: 25px;
    }
    p{
        font-size: 18px;
    }
    .about-image {
        max-width: 650px;
        width: 100%;
        left: -50px;
    }
    .product {
        background-size: 150px, auto, auto, 80px 80px, 40px 40px;
    }
    .footer-image {
        max-width: 250px;
        width: 100%;
    }
    .product h5{
        font-size: 30px;
    }
}

@media (max-width:992px) {
    .hero-image{
        max-width: 550px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    body{
        overflow-x: hidden;
    }
}

@media (max-width:768px) {
    .hero-image {
        max-width: 550px;
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
        top: 50%;
        right: 10%;
    }
    br{
        display: none;
    }
    .about-image {
        max-width: 500px;
        top: 150px;
    }
    .product{
        padding-top: 80px;
    }
    .w-60{
        width: 80%;
    }
    .splide__pagination{
        -webkit-justify-content: center;
        justify-content: center;
        left: 0;
    }
    .purchase .title {
        width: 70%;
    }
    .footer-image {
        max-width: 200px;
        top: -50px;
    }
}

@media (max-width:768px) {
    .navbar-light .navbar-toggler {
        border-color: transparent;
    }
    .nav-item{
        padding: 12px 0;
    }
    .navbar-light .navbar-nav .nav-link, .cart-icon{
        padding: 0 !important;
    }
}

@media (max-width:576px) {
    .hero{
        height: 60vh;
        padding: 50px;
    }
    .hero h1 {
        font-size: 42px;
    }
    .hero p{
        width: 100%;
    }
    .hero-image {
        max-width: 440px;
        right: 40px;
        top: 55%;
    }
    .title {
        font-size: 40px;
    }
    .about-image {
        position: static;
    }
    .product h5 {
        font-size: 28px;
    }
    p{
        font-size: 16px;
    }
    .w-60{
        width: 100%;
    }
    .news .title {
        font-size: 40px;
    }
    .purchase .title {
        width: 80%;
        font-size: 40px;
    }
    .footer-image {
        display: none;
    }
    .product{
        background: none;
    }
}

@media (max-width:480px) {
    .hero-image {
        max-width: 370px;
        right: 40px;
        top: 58%;
    }
    .product .product-tag {
        max-width: 350px;
        height: 350px;
    }
    
    .product .product-tag img {
        width: 400px;
    }
    
    .pd-60 {
        padding: 60px 0;
    }
    .footer-text {
        font-size: 14px;
    }
}

@media (max-width:416px) {
    .hero{
        padding: 30px;
    }
    .hero-image {
        max-width: 320px;
        top: 65%;
    }
    .hero h1 {
        font-size: 40px;
    }
    .purchase .title{
        width: 100%;
        font-size: 36px;
    }
    .news .title, .title {
        font-size: 36px;
    }
    .product h5 {
        font-size: 25px;
    }
    .about{
        text-align: center;
    }
    .product .product-tag img {
         width: 380px;
    }
}

@media (max-width:400px) {
    .hero{
        height: auto;
    }
    .hero-image {
        display: none;
    }
    .hero h1 {
        font-size: 34px;
    }
    .news .title, .title, .purchase .title {
        font-size: 32px;
    }
    .goals h6 {
        font-size: 18px;
    }
    .product .product-tag img {
        width: 330px;
    }
    .product .product-tag {
        max-width: 300px;
        height: 300px;
    }
}

@media (max-width:320px) {
    .product .product-tag {
        max-width: 250px;
        height: 250px;
    }
    .product .product-tag img {
        width: 280px;
    }
    .hero h1 {
        font-size: 30px;
    }
    
    .hero h1 span{
        font-weight: 600;
    }
    
    .news .title, .title, .purchase .title {
        font-size: 28px;
    }
    .title span {
        font-weight: 600;
    }
    p{
        font-size: 14px;
    }
}